# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Ignore default executable
a.out
*.o
*.exe
*users*.csv
*drivers*.csv
*rides*.csv
Resultados/
build
.vscode
programa-*
Dataset_Fase1/
teste.txt
.DS_Store
